html,
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: sans-serif;
}

html,
body,
div,
header,
main,
footer {
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  background-color: #4e7e4e;
  color: white;
  font-size: 1.4rem;
}

header > div {
  padding: 1rem 2rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: inherit;
}

.flex-end {
  justify-content: flex-end;
}

header select {
  all: unset;
  padding: 0.3rem 1em 0.3rem 0.5rem;
  text-align: right;
  text-align: -webkit-right;
  font-weight: bold;
  font-size: inherit;
  margin-right: -1em;
  max-width: 19rem;
  z-index: 1;
}

.selector::after {
  content: '\25bc';
  display: block;
  font-size: 0.55em;
  margin: 0 0 0 0.5em;
}

header select option,
header select optgroup {
  font-size: initial;
}

.selector {
  display: flex;
  align-items: center;
}

main {
  padding: 1rem 2rem;
}

footer {
  padding: 2rem 1rem;
  text-align: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

#currencyDate {
  font-style: italic;
}

.divider {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0.6rem 0;
}

.currency {
  display: grid;
  grid-template-columns: 1fr 3em;
  font-size: 1.6rem;
  align-items: center;
  box-sizing: border-box;
  text-align: right;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(120deg 23.53% 96%);
  transition-duration: 200ms;
  transition-property: border-bottom-color, border-top-color, border-right-color,
    border-left-color;
}

.currency:focus-within {
  border: 1px solid hsl(120deg 23.53% 40%);
}

.currency input {
  all: unset;
  text-align: right;
  appearance: textfield;
  padding: 1em 0.2em;
  width: 100%;
  box-sizing: border-box;
}

.currency label {
  padding: 1em 0.4em 1em 0.2em;
  text-transform: uppercase;
}

.currency-description {
  font-size: 0.9em;
  font-style: italic;
}
